<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
  {{num1}}
  {{num2}}
  <cpn :number1="num1" :number2="num2" @num1change="num1change" @num2change="num2change"></cpn>
</div>

<template id="cpn">
  <div>
    <!--双向绑定一定放在data(){}里面-->
    <!--<h1>{{dnumber1}}</h1>-->
    <!--<input type="text" v-model="dnumber1">-->
    <!--<h1>{{dnumber2}}</h1>-->
    <!--<input type="text" v-model="dnumber2">-->
    <!--改变父组件的值-->
    <h1>{{dnumber1}}</h1>
    <input type="text" :value="dnumber1" @input="num1Input">
    <h1>{{dnumber2}}</h1>
    <input type="text" :value="dnumber2" @input="num2Input">
  </div>
</template>

<script>
  new Vue({
    el:"#app",
    data:{
      num1:1,
      num2:0
    },
    methods:{
      num1change(num1){
        this.num1=parseInt(num1);
      },
      num2change(num2){
        console.log(num2)
        this.num2=num2*1;
      }
    },
    components:{
      cpn: {
        template:`#cpn`,
        props: {
          number1:Number,
          number2:Number
        },
        data() {
          return {
            dnumber1:this.number1,
            dnumber2:this.number2,
          }
        },
        methods:{
          num1Input(event){
            this.dnumber1=event.target.value;
            this.$emit('num1change',this.dnumber1*2);
          },
          num2Input(event){
            this.dnumber2=event.target.value;
            this.$emit('num2change',this.dnumber2*2);
          }
        }
      }
    }
  })

</script>
</body>
</html>